@model Shqipify.Models.PostViewModel

<div class="p-4">
    <form asp-controller="Post" asp-action="AddPost">
        <div>
            <label for="author">Author</label>
            <input id="author" name="author" asp-for="Author"/>
        </div>
        
       <div>
            <label for="Title">Title</label>
            <input id="Title" name="Title" asp-for="Title" />
        </div>
        <div>
            <label for="Description">Description</label>
            <input id="Description" name="Description" asp-for="Description" />
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
